<p id="notice"><%= notice %></p>

<h1>TRUCADINHO</h1>
<% @ads.each do |ad| %>
    <div class="col-md-4 col-sm-4 mb">
      <div class="white-panel gn">
        <a href="<%= ad_path(ad) %>">
          <div class="white-header">
            <h5><%= ad.model.name %></h5>
          </div>
          <div class="centered">
            <% if ad.avatar.url %>
                <%= image_tag ad.avatar.url(:thumb) %>
            <% end %>
          </div>
          <div class="row">
            <p><strong>Fábricante: <%= ad.automaker.name %></strong></p>
            <p><strong>Ano: <%= ad.year %></strong></p>
            <% if ad.price.present? %>
                <p><strong>Preço: <%= ad.price %></strong></p>
            <% else %>
                <p><strong>Preço: A negociar!</strong></p>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </a>
        <% if current_user %>
            <div class="row">
              <%= link_to 'Editar', edit_ad_path(ad), class: 'btn btn-primary btn-xs' %>
              <%= link_to 'Excluir', ad, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'Are you sure?'} %>
            </div>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
<% end %>