<div class="form-panel">
  <%= form_with(model: ad, local: true, html: {class: 'form-horizontal style-form', multipart: true}) do |form| %>
      <% if ad.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
              <% ad.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Foto:</label>
        <div class="col-sm-10">
          <%= form.file_field :avatar, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label 'Tipo', class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= collection_select(:ad, :type_id, Type.all, :id, :name, {prompt: true}, class: 'form-control') %>
        </div>
      </div>

      <div class="form-group">

        <%= form.label 'Fabricante', class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= collection_select(:ad, :automaker_id, Automaker.all, :id, :name, {prompt: true}, class: 'form-control', id: 'automakers') %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label 'Modelo', class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.select :model_id, options_for_select([['Please Select', nil], @models.collect {|model|
            [model.name.titleize, model.id]}], 0), {}, {id: 'models', class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label 'Ano', class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :price, id: :ad_price, class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <%= form.label 'Preço', class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :price, id: :ad_price, class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit 'savar', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>