<div class="container">
  <div class="container-fluid white-panel">
    <p id="notice"><%= notice %></p>
    <div class="centered">
      <% if @ad.present? %>
          <%= image_tag @ad.avatar.url(:medium) %>
      <% end %>
    </div>
    <h3 class="centered">
      <strong>Tipo:</strong>
      <%= @ad.type.name %>
    </h3>

    <h3 class="centered">
      <strong>Fabricante:</strong>
      <%= @ad.automaker.name %>
    </h3>

    <h3 class="centered">
      <strong>Modelo:</strong>
      <%= @ad.model.name %>
    </h3>
    <h3 class="centered">
      <strong>Ano:</strong>
      <%= @ad.year %>
    </h3>

    <h3 class="centered">
      <strong>Preço:</strong>
      <% if @ad.price.present? %>
          <%= @ad.price %>
      <% else %>
          A negociar
      <% end %>
    </h3>
    <% if current_user %>
        <%= link_to 'Editar', edit_ad_path(@ad) %> |
    <% end %>
    <%= link_to 'Votlar', ads_path %>
  </div>
</div>