<div class="form-panel">
  <%= form_with(model: model, local: true) do |form| %>
      <% if model.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

            <ul>
              <% model.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :name, id: :model_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :automaker,class:'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= collection_select(:model, :automaker_id, Automaker.all, :id, :name, {prompt: true}, class: 'form-control') %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
  <% end %>
</div>