<div class="content-panel">
  <p id="notice"><%= notice %></p>

  <h1 class="centered">Modelos</h1>
  <%= link_to 'Novo Modelo', new_model_path, class: 'btn btn-primary' %>
  <table class="table table-striped table-advance table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Automaker</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @models.each do |model| %>
        <tr>
          <td><%= model.name %></td>
          <td><%= model.automaker.name %></td>
          <td><%= link_to 'Show', model, class: 'btn btn-success btn-xs' %>
            <%= link_to 'Edit', edit_model_path(model), class: 'btn btn-primary btn-xs' %>
            <%= link_to 'Destroy', model, method: :delete, data: {confirm: 'Você tem certeza?'}, class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>