<div class="form-panel">
  <%= form_with(model: automaker, local: true) do |form| %>
      <% if automaker.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(automaker.errors.count, "error") %> prohibited this automaker from being saved:</h2>

            <ul>
              <% automaker.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :name, id: :automaker_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit 'savar', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>