<div class="content-panel">
  <p id="notice"><%= notice %></p>
  <h1 class="centered">Fabricantes</h1>
    <%= link_to 'Novo Fabricante', new_automaker_path, class: 'btn btn-primary' %>
    <table class="table table-striped table-advance table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @automakers.each do |automaker| %>
          <tr>
            <td><%= automaker.name %></td>
            <td><%= link_to 'Show', automaker %></td>
            <td><%= link_to 'Edit', edit_automaker_path(automaker) %></td>
            <td><%= link_to 'Destroy', automaker, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


</div>