<div class="form-panel">

<%= form_with(model: type, local: true, html: {class: "form-horizontal style-form"}) do |form| %>
    <% if type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

          <ul>
            <% type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: 'col-sm-2 col-sm-2 control-label' %>
      <div class="col-md-10">
        <%= form.text_field :name, id: :type_name, class: 'form-control' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Salvar', class:'btn btn-primary' %>
    </div>
<% end %>
</div>