<h1>Types</h1>

<div class="content-panel">
  <p id="notice"><%= notice %></p>
  <table class="table table-striped table-advance table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td>
            <%= link_to 'Show', type, class:'btn btn-success btn-xs' %>
            <%= link_to 'Edit', edit_type_path(type),class:'btn btn-primary btn-xs' %>
            <%= link_to 'Destroy', type, class:'btn btn-danger btn-xs' , method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Type', new_type_path %>
</div>