<div class="form-panel">

  <%= form_with(model: @user, local: true, html: {class: "form-horizontal style-form"}) do |form| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this type from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= form.label :email, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :email, id: :user_email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :password, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.password_field :password, id: :user_password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.password_field :password_confirmation, id: :user_password, class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit 'Salvar', class:'btn btn-primary' %>
      </div>
  <% end %>
</div>