<div class="form-panel">

  <%= form_for(User.new, url: users_login_path, html: {class: "form-horizontal style-form"}) do |form| %>
      <div class="form-group">
        <%= form.label :email, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.text_field :email, id: :user_email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :password, class: 'col-sm-2 col-sm-2 control-label' %>
        <div class="col-md-10">
          <%= form.password_field :password, id: :user_password, class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit 'Login', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>